<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Ruby on Rails Tutorial Sample App</title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim'%>


  </head>

  <body>

    <%= render 'layouts/header'%>

    <div class = "container">
      <% flash.each do |msg_type, msg|%>
        <%= content_tag(:div, msg, class: "alert alert-#{msg_type}")%>
      <% end %>
    <%= yield %>
    <!--Shows debug information on page ONLY if in test environment -->
    <%= debug(flash) if Rails.env.development? %>

  </div>

  <%= render 'layouts/footer'%>
  </body>
</html>
